
.searchContainer {
  display: flex;
  flex-direction: column; /* Stack the form and grid vertically */
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  width: 100%;
  box-sizing: border-box;
}

.search-form {
  margin-bottom: 20px; /* Space between the form and the grid */
  width: 100%; /* Make the form take up the full width */
  display: flex;
  /* max-width: 600px; */
  width: 100%;
}

.search-input {
  flex: 1;
  /* padding: 10px; */
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px;
  min-height: 30px;
}

.display-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid */
  gap: 20px;
  width: 100%;
  max-width: 1200px; /* Limit the maximum width of the grid */
}

.grid-item {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

fieldset {
  border-radius: 5px;
  border-color: lightblue;
  margin: 0px;
  width: 100%;
}

legend {
  color: blue;
}

.resetBtn {
  border-radius: 10px;
  background-color: lightblue;
  width: 75px;
  margin: 5px;
  height: 35px;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
}

.icon-btn {
  border-radius: 10px;
  background-color: rgb(0, 60, 255);
  width: 75px;
  margin: 0px;
  padding: 0px;
  height: 35px;
  font-family: sans-serif;
  color: white;
  font-size: 14px;
  cursor: pointer;
}